body * {
    box-sizing: border-box;
}
.col-sm-3 span {
    border: none;
}

section {
    height: 70%;
}
.a {
    margin-bottom: 20px;
}
#section {
    width: 100%;
    height: 100%;
    position: relative; 
}
#second div {
    float: left;
    width: 100%;
}
#orderPage {
    width: 70%;
    height: 100%;
    display: flexbox;
    margin: auto;
    margin-left: 20%;
    border: none;
}
#orderPage span {
    border: none;
    background-color: rgba(209, 219, 212, 0.103);
}
.g-3 {
    width: 100%;
    
}
#signIn-Text {
    height: 15%;
    text-align: center;
    margin-bottom: 50px;
    margin-left: -10%;
}
#signIn-Text span {
    font-size: 3em;
    font-weight: bold;
    color: rgba(87, 104, 96, 0.808);
}
#signIn-form {
    width: 80%;
    height: 85%;
    margin-left: 10%;
}
#signInPage {
    width: 70%;
    height: 100%;
    display: flexbox;
    margin: auto;
    margin-left: 20%;
    border: none;
}
#signInPage span {
    border: none;
    background-color: rgba(209, 219, 212, 0.103);
}
.g-3 {
    width: 100%;
    
}
#order-Text {
    height: 15%;
    text-align: center;
    margin-bottom: 50px;
    margin-left: -10%;
}
#order-Text span {
    font-size: 3em;
    font-weight: bold;
    color: rgba(87, 104, 96, 0.808);
}
#order-form {
    width: 80%;
    height: 85%;
    margin-left: 10%;
}
#select {
    width: 30%;
    float: left;
    margin-right: 13px;
}


.joinReset {
	width: 100%;
}

#postcode {
	height: 38%;
	width: 35%;
	border: 0.8px solid lightgrey;
}



.btnsss1 {
  font-family: Ubuntu-Bold;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 29%;
  height: 42px;

  background-color: #72947ae5;
  margin-top: 10px;
  border-radius: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  float: left;
}

.btnsss2 {
  font-family: Ubuntu-Bold;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 29%;
  height: 42px;

  background-color: #72947ae5;
  margin-left: 10%;
  margin-top: 10px;
  border-radius: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  float: left;
}

.dhd {
  height: 20px;
  color: #fff;
  line-height: 1.2;
  background-color: #72947ae5;
}

.btnsss3 {
  font-family: Ubuntu-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 31px;

  background-color: #72947ae5;
  margin-top: 10px;
  border-radius: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  float: left;
}
