/* body 모든 태그에 margin, padding 0을 줘야 하기 편한듯!? */
body * {
    margin: 0;
    padding: 0;
    /* border: 1px solid ; */
    box-sizing: border-box;
}
#wrap { 
    width: 1000px;
    height: 1000px;
    margin: auto;
}

header {
    height: 25%;
}
#header_contents {
    height: 80%;
}
/* header_contents 안에 있는 모든 div 태그 선택 (동일한 코드은 모아두자)*/
#header_contents > div {
    height: 100%;
    float: left;
}
#header_content1 {
    width: 15%;
}
#header_content2 {
    width: 55%;
}
#header_content3 {
    width: 30%;
}

#menu {
    height: 20%;
}




section {
    height: 75%;
}
#container1_2 li, #container1_3 li, #container1_4 li{ padding-left: 50px; }
#container1_2 h4, #container1_3 h4, #container1_4 h4 { padding-left: 50px; color: #008000; }
/* contents 안에 있는 article 모든 태그 선택 (동일한 코드은 모아두자)*/
#contents > article {
    height: 100%;
    float: left;
}

#content2 {
    width: 75%;
}
#content2_backgroundColor{
    background-color: yellowgreen;
}
#content2_p{
    text-align: right;
    padding: 30px;
    font-size: 30px;
    color: white;
}
#content2_2{
    width: 100%;
    font-size: 8px;
}
.content2_2_tr{
    height: 45px;
}
.content2_2_td{
    padding-left: 1vw;
}



#my_order {
    height: 300px;
    margin-top: 50px;
}

.padding_btn{
	padding:30px;
	margin-top: 30px;
}



























